@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('IosevkaCustom-Condensed.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCustom-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('IosevkaCustom-CondensedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCustom-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('IosevkaCustom-CondensedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCustom-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('IosevkaCustom-CondensedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCustom-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('IosevkaCustom-CondensedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('IosevkaCustom-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('IosevkaCustom-CondensedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('IosevkaCustom-MediumItalic.woff2') format('woff2');
}
