article pre {
    margin: theme("margin.-3");
    border-radius: theme("borderRadius.none") !important;
}

@screen sm {
    article pre {
        margin: theme("margin.-6");
        border-radius: theme("borderRadius.md") !important;
    }
}
